#field {
  color: white;
}

[data-player="1"]{
  background-color: green;
}

[data-player="2"] {
  background-color: red;
}

.racer {
  height: 40px;
  width: 40px;
  margin: 10px;
}

[data-position="1"] {
  margin-left: 50px;
}

[data-position="2"] {
  margin-left: 90px;
}

[data-position="3"] {
  margin-left: 130px;
}

[data-position="4"] {
  margin-left: 170px;
}

[data-position="5"] {
  margin-left: 210px;
}

[data-position="6"] {
  margin-left: 250px;
}

[data-position="7"] {
  margin-left: 290px;
}

[data-position="8"] {
  margin-left: 330px;
}

[data-position="9"] {
  margin-left: 370px;
}

[data-position="10"] {
  margin-left: 410px;
}

[data-position="11"] {
  margin-left: 450px;
}

[data-position="12"] {
  margin-left: 490px;
}

[data-position="13"] {
  margin-left: 530px;
}

[data-position="14"] {
  margin-left: 570px;
}

[data-position="15"] {
  margin-left: 610px;
}

[data-position="16"] {
  margin-left: 650px;
}

[data-position="17"] {
  margin-left: 690px;
}

[data-position="18"] {
  margin-left: 730px;
}

[data-position="19"] {
  margin-left: 770px;
}

[data-position="20"] {
  margin-left: 810px;
}
